
img {
  max-height: 150px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  max-width: 600px;
  align-items: center;
}

.inputcontainer{
  display: flex;
  justify-content: center;
}

.moviecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  padding: 10px;
}

input {
  height: 20px;
  margin-top: 20px;
  font-size: 16px;
}
